:root {
  --overlay-color-1: #fc720a;
  --overlay-color-2: #fc7d1c;
  --overlay-color-3: #fc1ca3;
  --overlay-color-4: #f80396;
  --anim-duration: 10s;
  --vp-c-brand: #fd9a4f;
  --vp-home-hero-name-color: #fd8b35;
  --vp-button-brand-bg: #fd9a4f;
  --vp-button-brand-text: var(--vp-code-block-bg-light);
  --vp-button-brand-border: #fd9a4f;
  --vp-button-brand-hover-border: #f7735f;
  --vp-button-brand-hover-text: var(--vp-code-block-bg-light);
  --vp-button-brand-hover-bg: #f7735f;
}

.VPImage.image-src {
  max-width: 280px;
  max-height: 280px;
}

.VPHero .image-bg {
  width: 240px;
  height: 240px;
  background: none;
}

.VPHero .image-bg:after,
.VPHero .image-bg:before {
  will-change: opacity;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  filter: blur(50px);
  border-radius: 50%;
}

.VPHero .image-bg:before {
  background: linear-gradient(135deg, var(--overlay-color-4) 0%, var(--overlay-color-3) 25%, var(--overlay-color-2) 50%, var(--overlay-color-1) 100%);
  animation: OpacityAnim var(--anim-duration) ease-in-out 0s infinite alternate;
}

.VPHero .image-bg:after {
  background: linear-gradient(135deg, var(--overlay-color-1) 0%, var(--overlay-color-2) 25%, var(--overlay-color-3) 50%, var(--overlay-color-4) 100%);
  animation: OpacityAnim var(--anim-duration) ease-in-out calc(-1 * var(--anim-duration)) infinite alternate;
}

@keyframes OpacityAnim {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
